{%- comment -%}
Those are the option names for which we automatically detect swatch. For the color, we use them to display a swatch, while
for size, we use it to display a size chart (if applicable)
{%- endcomment -%}

{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
{%- assign size_label = 'size,taille,bröße,tamanho,tamaño,koko,サイズ' | split: ',' -%}

{%- assign size_chart_page = '' -%}
{%- assign product_popovers = '' -%}

{%- assign selected_variant = product.selected_or_first_available_variant -%}

{%- form 'product', product, class: 'ProductForm' -%}
  <div class="ProductForm__Variants">
    {%- unless product.has_only_default_variant -%}
      {%- for option in product.options_with_values -%}
        {%- assign downcase_option = option.name | downcase -%}
        {%- capture popover_id -%}popover-{{ product.id }}-{{ section.id }}-{{ option.name | handle }}{%- endcapture -%}

        {%- if section.settings.show_color_swatch and color_label contains downcase_option -%}
          {%- assign is_option_with_color_swatch = true -%}
        {%- else -%}
          {%- assign is_option_with_color_swatch = false -%}
        {%- endif -%}

        <div class="ProductForm__Option">
          <button type="button" class="ProductForm__Item" aria-expanded="false" aria-controls="{{ popover_id }}">
            {%- if is_option_with_color_swatch -%}
              {%- assign downcase_value = option.selected_value | downcase -%}

              <span class="ProductForm__ColorSwatch {% if downcase_value == 'white' %}ProductForm__ColorSwatch--white{% endif %}" style="background-color: {{ option.selected_value | replace: ' ', '' }}; background-image: url({{ option.selected_value | handle | append: '.png' | asset_url }})"></span>
              <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span>
              <span class="ProductForm__OptionCount Text--subdued">{{ 'product.form.colors_count' | t: count: option.values.size }}</span>
            {%- else -%}
              <span class="ProductForm__OptionName">{{ option.name }}: <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span></span>
            {%- endif -%}

            {%- include 'icon' with 'select-arrow' -%}
          </button>

          {%- capture popover_html -%}
            {%- if color_label contains downcase_option and section.settings.show_color_carousel -%}
              {%- for value in option.values -%}
                {%- if value == option.selected_value -%}
                  {%- assign initial_image_index = forloop.index0 -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}

              {%- capture flickity_options -%}
              {
                "prevNextButtons": true,
                "pageDots": true,
                "initialIndex": {{ initial_image_index }},
                "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
              }
              {%- endcapture -%}

              <div id="{{ popover_id }}" class="VariantSelector" aria-hidden="true">
                {%- capture option_index -%}option{{ option.position }}{%- endcapture -%}

                <div class="VariantSelector__Carousel Carousel" data-flickity-config='{{ flickity_options }}'>
                  {%- for value in option.values -%}
                    {%- for variant in product.variants -%}
                      {%- if variant[option_index] == value -%}
                        {%- assign variant_image = variant.image | default: product.featured_image -%}
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}

                    <div class="VariantSelector__Item Carousel__Cell {% if value == option.selected_value %}is-selected{% endif %}"
                         {% if is_option_with_color_swatch %}
                           data-background-color="{{ value | split: ' ' | last | handle }}"
                           data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                         {% endif %}
                         data-option-position="{{ option.position }}"
                         data-option-value="{{ value | escape }}">
                      <div class="VariantSelector__ImageWrapper AspectRatio AspectRatio--withFallback" style="max-width: {{ variant_image.width }}px; padding-bottom: {{ 100.0 | divided_by: variant_image.aspect_ratio }}%; --aspect-ratio: {{ variant_image.aspect_ratio }}">
                        {%- include 'image-size', sizes: '200,400,600,800', image: variant_image -%}
                        {%- assign image_url = variant_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                        <img class="VariantSelector__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ variant_image.alt | escape }}">
                        <span class="Image__Loader"></span>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>

                <div class="VariantSelector__Info">
                  <div class="VariantSelector__ChoiceList">
                    {%- for value in option.values -%}
                      {%- assign available_prices_for_option_value = '' -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_index] == value -%}
                          {%- assign available_prices_for_option_value = available_prices_for_option_value | append: variant.price | append: ',' -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- assign available_prices_for_option_value = available_prices_for_option_value | split: ',' | compact | uniq | sort -%}

                      <div class="VariantSelector__Choice {% if value == option.selected_value %}is-selected{% endif %}">
                        <div class="VariantSelector__ChoiceColor">
                          {%- if is_option_with_color_swatch -%}
                            {%- assign downcase_value = value | downcase -%}
                            <span class="VariantSelector__ColorSwatch {% if downcase_value == 'white' %}VariantSelector__ColorSwatch--white{% endif %}" style="background-color: {{ value | replace: ' ', '' }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>
                          {%- endif -%}

                          <span class="VariantSelector__ChoiceValue">{{ value }}</span>
                        </div>

                        <div class="VariantSelector__ChoicePrice">
                          {%- if available_prices_for_option_value.size > 1 -%}
                            {%- capture formatted_min_price -%}<span data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>{%- endcapture -%}
                            {%- capture formatted_max_price -%}<span data-money-convertible>{{ available_prices_for_option_value.last | money_without_trailing_zeros }}</span>{%- endcapture -%}
                            <span class="Heading Text--subdued">{{ 'product.form.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
                          {%- else -%}
                            <span class="Heading Text--subdued" data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>

                  <button type="button" class="VariantSelector__Button Button Button--primary Button--full" data-action="select-variant">{{- 'product.form.select_model' | t -}}</button>
                </div>
              </div>
            {%- else -%}
              <div id="{{ popover_id }}" class="OptionSelector Popover Popover--withMinWidth" aria-hidden="true">
                <header class="Popover__Header">
                  <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% include 'icon' with 'close' %}</button>
                  <span class="Popover__Title Heading u-h4">{{ option.name | escape }}</span>
                </header>

                <div class="Popover__Content">
                  <div class="Popover__ValueList" data-scrollable>
                    {%- for value in option.values -%}
                      <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6"
                              data-value="{{ value | escape }}"
                              data-option-position="{{ option.position }}"
                              {% if is_option_with_color_swatch %}
                                data-background-color="{{ value | replace: ' ', '' }}"
                                data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                              {% endif %}
                              data-action="select-value">
                        {{- value | escape -}}
                      </button>
                    {%- endfor -%}
                  </div>

                  {%- assign size_chart_page_handle = settings.size_chart_page | default: 'size-chart' -%}
                  {%- assign size_chart_page = pages[size_chart_page_handle] -%}

                  {%- if size_label contains downcase_option and size_chart_page != empty -%}
                    <button type="button" class="Popover__FooterHelp Heading Link Link--primary Text--subdued u-h6" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
                      {{- 'product.form.size_chart' | t -}}
                    </button>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endcapture -%}

          {%- assign product_popovers = product_popovers | append: popover_html -%}
        </div>
      {%- endfor -%}

      <div class="no-js ProductForm__Option">
        <div class="Select Select--primary">
          {%- include 'icon' with 'select-arrow' -%}

          <select id="product-select-{{ product.id }}" name="id" title="Variant">
            {%- for variant in product.variants -%}
              <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>
    {%- else -%}
      <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
    {%- endunless -%}

    {%- if section.settings.show_quantity_selector -%}
      <div class="ProductForm__QuantitySelector">
        <div class="QuantitySelector QuantitySelector--large">
          {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

          <span class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% include 'icon' with 'minus' %}</span>
          <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1">
          <span class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% include 'icon' with 'plus' %}</span>
        </div>
      </div>
    {%- else -%}
      <input type="hidden" name="quantity" value="1">
    {%- endif -%}

    {%- if section.settings.show_inventory_quantity -%}
      {%- assign hide_inventory_quantity_by_default = false -%}
      
      {%- if selected_variant.inventory_management == blank or selected_variant.inventory_quantity <= 0 -%}
        {%- assign hide_inventory_quantity_by_default = true -%}
      {%- endif -%}

      {%- if section.settings.inventory_quantity_threshold != 0 and selected_variant.inventory_quantity > section.settings.inventory_quantity_threshold -%}
        {%- assign hide_inventory_quantity_by_default = true -%}
      {%- endif -%}

      <p class="ProductForm__Inventory Text--subdued" {% if hide_inventory_quantity_by_default %}style="display: none"{% endif %}>
        {%- if section.settings.inventory_quantity_threshold == 0 -%}
          {{- 'product.form.inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
        {%- else -%}
          {{- 'product.form.low_inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
        {%- endif -%}
      </p>
    {%- endif -%}
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  ADD TO CART BUTTON
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}<variant-radios class="no-js-hidden" data-section="main-product" data-url="/products/crystal-hair-eraser">
                        
                        
    <fieldset class="js product-form__input  qty_swatch">
      <legend class="form__label">Bundle &amp; Save</legend><input type="radio" id="main-product-1-0" name="Bundle &amp; Save" value="Single" form="product-form-main-product" checked="">
      
      



      <label class="element" for="main-product-1-0">
        <div class="sn_ys">
          <span class="swatch_title">Single</span>

          <span class="eraser_text">1x Eraser</span> 
          

          
        </div>

        <div class="prie_grp">
          <span class="var_price">$39</span>
                 
        </div>
      </label>
      
      
<input type="radio" id="main-product-1-1" name="Bundle &amp; Save" value="Duo" form="product-form-main-product">
      
      

      


      <label class="element" for="main-product-1-1">
        <div class="sn_ys">
          <span class="swatch_title">Duo</span>
          <span class="free-ship-text">Free Shipping</span>
          

           
          <span class="popular_text"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 493.16 272.27"><defs><style>.cls-1{fill:#6e57b2;}.cls-2{fill:url(#linear-gradient);}.cls-3{fill:#fff;}</style><linearGradient id="linear-gradient" x1="3.42" y1="172.17" x2="496.58" y2="172.17" gradientTransform="translate(392.78 -95.7) rotate(83.51)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8f79d3"></stop><stop offset="0.48" stop-color="#9179d5"></stop><stop offset="1" stop-color="#9179d5"></stop></linearGradient></defs><ellipse class="cls-1" cx="250" cy="180.29" rx="129.87" ry="247.68" transform="translate(39.17 368.2) rotate(-83.51)"></ellipse><ellipse class="cls-2" cx="250" cy="172.17" rx="129.87" ry="247.68" transform="translate(47.24 361) rotate(-83.51)"></ellipse><ellipse class="cls-2" cx="250" cy="172.17" rx="129.87" ry="247.68" transform="translate(47.24 361) rotate(-83.51)"></ellipse><path class="cls-3" d="M140.45,134.31c-.1,5.23.58,8.94,2.71,14.94l-14.38-2.47A31.61,31.61,0,0,0,132,132.86l.7-37.09-19.3,48.37-5.22-.9-18-55.18-.7,37.48a37.35,37.35,0,0,0,2.6,14.93l-9.38-1.62a33,33,0,0,0,3.15-13.93l.7-36.9c.09-4.84-.38-8-2.66-12.11l16.84,2.89a8,8,0,0,0-1.16,4.66,32.22,32.22,0,0,0,1.63,10l12.39,40.12,13.61-35.65a30.61,30.61,0,0,0,2-9.56,8.91,8.91,0,0,0-1-4.84l16.09,2.77c-2.63,3.24-3.11,6.17-3.2,11.11Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M152,126.39c.28-15.1,9.1-23.59,21.57-21.45,13.42,2.31,20.24,15,20,28.8-.28,15-9,23.71-21.58,21.55C158.48,153,151.78,140.05,152,126.39Zm31.6,7.77c.24-12.68-2.84-25-11.26-26.42-6.39-1.1-10.25,5-10.5,18.31-.24,12.78,3,25,11.26,26.42C179.21,153.52,183.38,147.92,183.64,134.16Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M208.79,121c-.09,5,3.28,7.85,9.4,11.72l6.87,4.39c4.33,2.78,9.81,6.83,9.67,14.39-.18,9.49-8.91,13-17.22,11.61a24.55,24.55,0,0,1-18.32-14.72l8.51-3.68c2,8.6,6.79,14.09,13.29,15.21,4.26.73,7.82-.89,7.91-5.63.08-4.17-3.06-7.53-7.82-10.48l-9-5.53c-3.38-2.14-10.45-7-10.31-14.22.14-7.65,6.66-13,20.83-10.6a39.41,39.41,0,0,1,10.84,3.62l-2,12.39c-4-7.88-8.54-12-14.93-13.06C211.89,115.61,208.86,117.33,208.79,121Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M265.86,161.53c-.08,4.45-4.87,9.07-12.12,7.82-6.82-1.17-9.39-6.57-9.24-14.6l.64-33.71-5.76-1,.48-2.73,5.33.91a72.34,72.34,0,0,0-.47-9,55.72,55.72,0,0,0,9.45-2.45l-.24,13,12.47,2.14-.59,2.72-11.93-2-.62,32.63c0,1.75-.13,6.88,5.3,7.81C260.69,163.36,262.63,162.92,265.86,161.53Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M146,197.16l-.12,6.29a49.25,49.25,0,0,0,2.5,16.16l-18.49-3.18a37.9,37.9,0,0,0,3-15.22l.56-29.67A42.2,42.2,0,0,0,131,155.38l21.38,3.68c8.36,1.44,22.9,5.54,22.59,21.88-.27,14.27-12.69,19-27.05,16.54Zm1-35.34c-.28,4-.46,8.11-.53,12l-.38,19.81,2.07.36c8.16,1.4,12.8-3.36,13-14,.21-11.36-4.77-16.55-13-18Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M179.72,201.55c.29-15.31,9.46-23.34,22.68-21.06,12.29,2.11,21.09,13.33,20.81,28.26-.29,15.21-9.46,23.24-22.68,21C188.14,227.58,179.44,216.29,179.72,201.55Zm29.68,8.78c.23-12.3-2.33-24.8-8.53-25.87-5.06-.87-7.14,5.09-7.34,15.51-.23,12.3,2.33,24.7,8.53,25.77C207,226.59,209.2,220.94,209.4,210.33Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M272.75,213.7c-.35,18.21-10.13,26.23-22.11,24.16a13.5,13.5,0,0,1-7.4-3.62l-.11,6.29c-.1,5.07,0,8.76,2.21,14.6l-17.66-3c2.27-5.07,2.54-8.7,2.64-13.77l.61-32.2c.12-6.29.09-10.34-2.09-15.81,4.37-.84,8.74-1.88,13-3a24.64,24.64,0,0,1,2,8.07c3-4.57,8.19-6,13.56-5.1C266.43,191.79,273,199.24,272.75,213.7Zm-13.62,2.64c.25-13.52-3-18.78-8.44-19.72a8.74,8.74,0,0,0-6.76,1.57l-.5,26.47a8.79,8.79,0,0,0,7.08,9C254.64,234.41,258.84,231.27,259.13,216.34Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M307.87,247.06a24.94,24.94,0,0,1-1.93-7.5,14.14,14.14,0,0,1-14.31,5.55c-7.43-1.28-11.48-6.4-11.31-15.23l.31-16.62c.09-4.79.07-8.75-2.11-14.21a149.94,149.94,0,0,0,15.28-2.64l-.64,33.89c-.07,3.66.69,7.47,5.75,8.34a8.28,8.28,0,0,0,7-1.91l.36-19.15c.09-4.7.08-9.78-1.6-14.12a109.5,109.5,0,0,0,14.76-2.74l-.63,33.8a37.43,37.43,0,0,0,2.1,14.77Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M329,236.94l.64-33.61c.1-5.35.08-10.07-2-14.76a79.41,79.41,0,0,0,15.17-2.66l-1,53.23c-.1,5.26,0,8.77,2.11,14.12l-17.55-3C328.62,245.63,328.89,242.2,329,236.94Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M377.58,259.05a16.37,16.37,0,0,1-1.84-6.72,16.18,16.18,0,0,1-14.9,4.6c-7-1.21-11.6-6.05-11.48-12,.14-7.8,8.77-9.33,15.95-10.73,8.11-1.71,10.72-2.67,10.76-4.55l.06-3.48c.11-5.91-.91-11.93-6.9-13-3.51-.6-5.62,1.2-5.69,5.05a23.11,23.11,0,0,0,2.1,9.12l-13.72-3,.05-2.53c.15-8.17,6.49-14.33,19.6-12.08,14.05,2.42,17.61,11.23,17.42,21.65l-.27,13.9c-.13,6.94.11,10.47,2.5,16.06Zm-1.9-9,.19-9.86c0-2-.48-2.43-3.16-2.89-7.75-1.34-10.16.41-10.25,5.2-.08,4.13,2.24,7.36,6.89,8.16A12.1,12.1,0,0,0,375.68,250.06Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M428.88,220.13l-2.47,16.06c-4.33-6.78-7.19-8.87-9.46-9.26-3.83-.66-4.63,3.63-4.78,11.61l-.24,12.2c-.09,5.07.05,8.77,2.22,14.61l-17.66-3c2.27-5.07,2.54-8.7,2.64-13.77l.25-13.43a31,31,0,0,0-3.33-15.73c4.58-1,8.74-2,13-3.32,1.51,2.33,2.66,7.33,3.11,10.52,2.43-7.59,6.49-8.68,12.38-7.67A22,22,0,0,1,428.88,220.13Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M392.32,161.88c0-12.22-5.43-20.54-16.72-20.54,11.29,0,16.72-8.33,16.72-20.54,0,12.21,6.69,20.54,16.72,20.54C399,141.34,392.32,149.66,392.32,161.88Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M166.59,85.88c0-7.23-3.22-12.16-9.9-12.16,6.68,0,9.9-4.92,9.9-12.16,0,7.24,4,12.16,9.9,12.16C170.55,73.72,166.59,78.65,166.59,85.88Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M86.41,217.92c0-7-3.1-11.74-9.56-11.74,6.46,0,9.56-4.75,9.56-11.73,0,7,3.83,11.73,9.56,11.73C90.24,206.18,86.41,210.94,86.41,217.92Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M279.49,288.44c0-9.66-4.3-16.25-13.23-16.25,8.93,0,13.23-6.59,13.23-16.25,0,9.66,5.3,16.25,13.23,16.25C284.79,272.19,279.49,278.78,279.49,288.44Z" transform="translate(-3.42 -40.09)"></path></svg></span>

          
          <div class="swtch_you_save">You save $11</div> 
          
        </div>

        <div class="prie_grp">
          <span class="var_price">$67</span>
          
          <span class="var_prce">
            <s class="var_com_price">$78</s> 
          </span>
                 
        </div>
      </label>
      
      
<input type="radio" id="main-product-1-2" name="Bundle &amp; Save" value="Trio" form="product-form-main-product">
      
      

      
      


      <label class="element" for="main-product-1-2">
        <div class="sn_ys">
          <span class="swatch_title">Trio</span>
          <span class="free-ship-text">Free Shipping</span>
          

           
          

          
          <div class="swtch_you_save">You save $29</div> 
          
        </div>

        <div class="prie_grp">
          <span class="var_price">$88</span>
          
          <span class="var_prce">
            <s class="var_com_price">$117</s> 
          </span>
                 
        </div>
      </label>
      
      
</fieldset><script type="application/json">
  [{"id":41175756308655,"title":"Single","option1":"Single","option2":null,"option3":null,"sku":"BLM1","requires_shipping":true,"taxable":true,"featured_image":{"id":32895646433455,"product_id":7105770193071,"position":1,"created_at":"2022-02-09T22:41:03-08:00","updated_at":"2022-02-09T22:41:06-08:00","alt":null,"width":3160,"height":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266","variant_ids":[41175756308655,41175756341423,41175756374191]},"available":true,"name":"Crystal Hair Eraser - Single","public_title":"Single","options":["Single"],"price":3900,"weight":0,"compare_at_price":0,"inventory_management":"shopify","barcode":"","featured_media":{"alt":null,"id":25225257582767,"position":1,"preview_image":{"aspect_ratio":1.0,"height":3160,"width":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266"}},"requires_selling_plan":false,"selling_plan_allocations":[]},{"id":41175756341423,"title":"Duo","option1":"Duo","option2":null,"option3":null,"sku":"BLM2","requires_shipping":true,"taxable":true,"featured_image":{"id":32895646433455,"product_id":7105770193071,"position":1,"created_at":"2022-02-09T22:41:03-08:00","updated_at":"2022-02-09T22:41:06-08:00","alt":null,"width":3160,"height":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266","variant_ids":[41175756308655,41175756341423,41175756374191]},"available":true,"name":"Crystal Hair Eraser - Duo","public_title":"Duo","options":["Duo"],"price":6700,"weight":0,"compare_at_price":7800,"inventory_management":"shopify","barcode":"","featured_media":{"alt":null,"id":25225257582767,"position":1,"preview_image":{"aspect_ratio":1.0,"height":3160,"width":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266"}},"requires_selling_plan":false,"selling_plan_allocations":[]},{"id":41175756374191,"title":"Trio","option1":"Trio","option2":null,"option3":null,"sku":"BLM3","requires_shipping":true,"taxable":true,"featured_image":{"id":32895646433455,"product_id":7105770193071,"position":1,"created_at":"2022-02-09T22:41:03-08:00","updated_at":"2022-02-09T22:41:06-08:00","alt":null,"width":3160,"height":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266","variant_ids":[41175756308655,41175756341423,41175756374191]},"available":true,"name":"Crystal Hair Eraser - Trio","public_title":"Trio","options":["Trio"],"price":8800,"weight":0,"compare_at_price":11700,"inventory_management":"shopify","barcode":"","featured_media":{"alt":null,"id":25225257582767,"position":1,"preview_image":{"aspect_ratio":1.0,"height":3160,"width":3160,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0609\/1531\/8959\/products\/IMG_9234.jpg?v=1644475266"}},"requires_selling_plan":false,"selling_plan_allocations":[]}]
</script>
</variant-radios>

  <button type="submit" class="ProductForm__AddToCart Button {% if selected_variant.available and section.settings.show_payment_button == false %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if selected_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
    {%- if selected_variant.available -%}
      <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>
      <span class="Button__SeparatorDot"></span>
      <span data-money-convertible>{{ selected_variant.price | money_without_trailing_zeros }}</span>
    {%- else -%}
      {{- 'product.form.sold_out' | t -}}
    {%- endif -%}
  </button>

  {%- if section.settings.show_payment_button -%}
    {{ form | payment_button }}
  {%- endif -%}
{%- endform -%}

{%- if size_chart_page != empty -%}
  {%- comment -%}If we have a size chart we capture the modal content (it must be displayed outside the form for proper positioning){%- endcomment -%}

  {%- capture product_modals -%}
    <div id="modal-{{ size_chart_page.handle }}" class="Modal Modal--dark Modal--fullScreen Modal--pageContent" aria-hidden="true" role="dialog" data-scrollable>
      <header class="Modal__Header">
        <h2 class="Modal__Title Heading u-h1">{{ size_chart_page.title }}</h2>
      </header>

      <div class="Modal__Content Rte">
        <div class="Container Container--extraNarrow">
          {{- size_chart_page.content -}}
        </div>
      </div>

      <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% include 'icon' with 'close' %}</button>
    </div>
  {%- endcapture -%}
{%- endif -%}

{%- if section.settings.show_payment_button and selected_variant.available == false -%}
  <style>
    #shopify-section-{{ section.id }} .shopify-payment-button {
      display: none;
    }
  </style>
{%- endif -%}

{% comment %}
------------------------------------------------------------------------------
Product Data. This must be outputted for all products (including home page).

IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
THE EXACT SAME ATTRIBUTES.
------------------------------------------------------------------------------
{% endcomment %}

<script type="application/json" data-product-json>
  {
    "product": {{ product | json }},
    "selected_variant_id": {{ selected_variant.id }}
    {%- if section.settings.show_inventory_quantity -%}
      ,"inventories": {
        {%- for variant in product.variants -%}
          {%- assign inventory_message = '' -%}

          {%- if section.settings.inventory_quantity_threshold == 0 -%}
            {%- capture inventory_message -%}{{- 'product.form.inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- else -%}
            {%- capture inventory_message -%}{{- 'product.form.low_inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- endif -%}

          "{{ variant.id }}": {
            "inventory_management": {{ variant.inventory_management | json }},
            "inventory_policy": {{ variant.inventory_policy | json }},
            "inventory_quantity": {{ variant.inventory_quantity | json }},
            "inventory_message": {{ inventory_message | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      }
    {%- endif -%}
  }
</script>
<style>

.hide{
  display:none;
}
.scroll-hide-mob{
 display:none !important;
}
span.eraser_text {
    width: 100%;
}
.bg-white{
	background-color: #fff;
}
.bodypage-bg-white{
  background: #fff;
}
.header-shop-link{
    background: #7069bc;
    padding: 6px 22px;
    border-radius: 3px;
}
.header-shop-link span{
   color: #fff;
  font-weight: bold;
}
.header-shop-link:hover span{
  color:#fff;
}
.header__active-menu-item, .header__menu-item:hover span{
  text-decoration:none;
}

.header__inline-menu ul.list-menu{
	align-items: center;
}
.overlay-text.working , .shopify-section-header-hidden .overlay-text.working{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
}
#shopify-section-header.shopify-section-header-hidden{
  transform: none !important;
}
img {
    max-width: 100%;
    display: block;
}  
.main_cart_section {
  margin: 0px; 
  padding: 80px 0 48px;  
}                                                                            

.customer-review_section h2.section-title.review_heading{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}  
.starsec { 
    margin-top: 10px;
    text-align: center;
    color: #7069bc;               
}                                                                                                                                                                                                                                   
.product_custmer_review .givcont {
    margin-bottom: 20px;
    font-size: 24px; 
    text-align: center;   
}  
.product_custmer_review .review_columna {
    padding: 0 15px;
    width: 33.33%;
}  
.product_custmer_review .review_main_slider .img_result img {
    max-width: 100%;  
    border-radius: 25px;                  
}                                                                                  
.product_custmer_review .review_text p {
    color: #000;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}  
.review_main .review_caption {
    display: flex;
    margin: 1.35rem auto;
    text-align: left;
    justify-content: center;
}  
.review_main .review_caption img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
    border-radius: 50%;
}  
.customer-review_section {
    padding: 50px 0;
}  
.review_main .review_caption .review_name div {
    font-weight: 700;
    font-size: 15px;
    color: #000;
}  
.review_main_slider .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 2.5rem;
    line-height: 0;
    background: #7069bc;
    position: absolute;
    top: 50%!important;
    transform: translatey(-50%);
    font-size: 0;
    border: none;
    box-shadow: none;
    z-index: 2;
}  
.review_main_slider .slick-next.slick-arrow:before {
    content: "\f105";
    font: 14px/1 FontAwesome;
    width: 50px;
    height: 50px;
    font-size: 27px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.review_main_slider .slick-prev.slick-arrow:before {
    content: "\f104";
    font: 14px/1 FontAwesome;
    width: 50px;
    height: 50px;
    font-size: 27px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.review_main .review_caption img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.75rem;
    border-radius: 50%;
}      
.product_custmer_review .section_header.text-center {
    margin-bottom: 50px!important;
} 
.pro_vid_img_sec {                                  
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
}                                                                          
.pro_vid_img_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}  
.pro_vid_img_row .vid_img_box {
    width: 50%;  
    padding: 0 20px;   
}                                                                                                                                                         
.vid_img_box iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}  
.pro_vid_img_row .text_box {
    width: 50%;
    padding: 0 40px 0px;  
 }                                                                                                                                                                            
.pro_vid_img_row .text_box h3 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 0;
    color: #2e2a39; 
    margin-bottom: 10px;  
}  
.pro_icon_text {
    margin-bottom: 10px;
}  
.pro_vid_img_sec .text_box .item .text {
    max-width: 295px;
    margin-left: 50px;
} 
 .pro_vid_img_sec .item {
    display: flex; 
    align-items: center; 
    padding: 10px 0px;                           
    border-bottom: 1px solid #e8e7e7;   
}  
.pro_vid_img_sec .text_box .icon_progress {
    width: 70px;
    height: 70px;                                                
}  
.pro_icon_text {
    margin-bottom: 10px;
}  
.b-product-card__benefits-asterisk p {
    font-size: 14px;
    line-height: 1.2;
    margin: 10px 0 20px;
} 
a.btn {
    display: inline-block;
    vertical-align: middle;
    background: #7069bc;
    font-size: 17px!important;
    color: #fff;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    letter-spacing: 0px; 
    text-decoration: none;   
}                                                                          
.vid_img_btn a.btn span {
    background: url(sl-finger.png) left center no-repeat;
    background-size: 30px auto;
    padding-left: 40px;
} 
.starsec {
    display: flex;
    margin-top: 10px;
}  
.startext {
    margin-left: 10px;
    margin-top: -2px;
    text-align: left;
    color: #000;
    font-size: 13px;
}                                
  

/* sticky add to cart */
.desk_sticky_cart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10; 
    border-top: 1px solid #fafafa;         
}                                                                                                                     
.desk_sticky_cart .desk_main {
    display: flex;
    align-items: center!important;
    justify-content: space-around!important;
    background-color: #fff;
}
.desk_sticky_cart .desk_left {
    align-items: center;
    display: flex;
}
.desk_sticky_cart .sectionBg {
    padding: 5px 0;
}
.desk_left .sectionBg img {
    height: 70px!important;
    object-fit: cover;
    max-width: 80%;
}
.desk_sticky_cart .cnt_left {
    margin-left: 10px;  
    padding: 0px 30px;  
}                                                   
.desk_sticky_cart .desk_right {
    display: flex;
    align-items: center;
}
.desk_sticky_cart button.sticky_addtocart {
    width: 150px;
    padding-left: 20px!important;
    padding-right: 25px!important;
    background: #FCC341;
    color: #133e6c;
    border: 1px solid #FCC341;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 12px 0;
    font-weight: 700;
    transition: all .2s linear;
}

/* .sticky_cart.mbl_cart {
    display: none;
}  */

.desk_sticky_cart span.desk_p_title {
    font-size: 15px;
    font-weight: bold;
}  
.desk_cnt .cnt_main a.value-props-btn {
    font-size: 14px;
    text-align: center;
    color: #222222;
    font-weight: 500;
    text-decoration: none;
}  
.desk_sticky_cart .desk_cnt {
    padding: 0 50px 0 10px;  
}                                              

.desk_sticky_cart button.sticky_addtocart {
    display: flex;
    width: 150px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background: #7069bc;
    color: #fff;
    border: 1px solid #7069bc;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 12px 0;
    font-weight: 700;
    transition: all .2s linear;
    justify-content: space-between;
}                                                                  


/*modal start*/
.value-props-modal,
.modal-box {
  z-index: 9999;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.value-props-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:rgba(0,0,0,.4);
  overflow: auto;
  margin: 0;
}

.modal-box {
  position: absolute;
  width: 98%;
  max-height: 100%;
  max-width: 780px;
  margin: 0px auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modal-header {
  padding: 20px 40px;
  background: #546E7A;
  color: #ffffff;
}

.modal-body {
  background: #fff;
  padding: 0px;
  max-height: 90vh;
  max-width: 95%;
  overflow: auto;
  margin: auto;
  border-radius: 15px;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  bottom: -22px;
  right: 0;
  font-size: 23px;
  border-radius: 100px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  width: 45px;
  height: 45px;
  text-align: center;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  line-height: 1.2;
}

.eye_lash {
  display: flex;
  flex-wrap: wrap;
}

.eye_lash_img {
  width: 40%;
}

.eye_lash_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eye_lash_content {
  width: 60%;
  padding: 0px 16px 16px 16px;
}
.eye_lash_content_inner {
  padding: 28px 16px 12px;
  border-bottom: 1px solid rgba(192, 188, 182, 0.6);
}
.eye_lash_content_inner h3{
  letter-spacing: 0.65px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #1d1f27;
  text-transform: inherit;
  margin-bottom: .25rem;
}

.eye_lash_content_inner h4 {
  letter-spacing: 3px;
  font-size: 12px;
  line-height: 15px;
  color: #c0bcb6;
  font-weight: 700;
  padding: 0;
  margin-bottom: 5px;
}

.eye_lash_content_inner p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #1d1f27;
  margin-bottom:0px;
}
/*modal end*/  

/* end here */

.customer-review_section .starsec {
    justify-content: center;
}  
 .pro_tab_section {
    padding: 50px 0; 
    position: relative; 
} 
.product_cntent_section {
    position: relative;
}   
 .pro_tab_section .tab_section {
    max-width: 475px;
    margin-bottom: 30px;
}  
 .pro_tab_section h3 {
    font-size: 40px;
    color: #000;
}  
 .pro_tab_section span {
    font-weight: 400;
    font-style: italic;
}  
 .pro_tab_section .tab_nav {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: auto;
    margin: 0;
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 12px;
    display: flex; 
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;   
}                                                
   .pro_tab_section li.active {
    background-color: #7069bc;
    border-radius: 8px;
} 
   .pro_tab_section li.active a.tablink {
    color: #fff;
} 
   .pro_tab_section .tab_nav li {
    padding: 6px 20px; 
    list-style: none;
} 
   .pro_tab_section .tab_nav li a {
    color: #7069bc; 
    text-decoration: none;
}  
   .tabcontent {
    padding-top: 20px; 
    position: relative; 
} 
   .pro_tab_section .tabcontent video {
    width: 100%;
    border-radius: 25px;
} 
    .eating_header h2 {
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: 0;
    text-transform: inherit;
    font-weight: 700;
    margin-bottom: 20px;   
}                                                
    .eating_header p {
    font-size: 21px;
    line-height: 1.52;
    max-width: 600px;
    margin: auto;
    text-align: center;   
}                                                             
    .eating_health .grid {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
    justify-content: space-between;    
}                                                                                                                              
    .eating_col {
    display: flex; 
    flex-wrap: wrap;           
    margin-bottom: 70px;
    position: relative;  
    justify-content: center;  
}                                                                                   
    .eating_icon {
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    max-width: 44px;
} 
 .eating_icon img {
    max-width: 60px;
    display: block;
    width: 100%;
    height: 60px;
    object-fit: cover;
}  
    .eating_content h4 {
    margin-bottom: 8px; 
    margin-top: 0px;   
}                                                                                                                
    .eating_center {
    position: relative;
    overflow: hidden;
    width: 512px;
    height: 512px;  
    margin: 0 auto;   
}                                                  
 .eating_health {
    padding-bottom: 55px; 
    padding-top: 55px;  
}                                                                             
.eating_health .grid__item.medium-up--two-quarters{
     width: 50%;
}  
   .eating_header h2 {
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: 0;
    text-transform: inherit;
    font-weight: 700; 
    text-align: center; 
    margin-top: 0px;  
}  
.eating_health .eating_col p {
    margin: 0;                              
}  
    .sale_compare_section {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}                                                                                             
    .sale_compare_section:before {
    content: "";
    position: absolute!important;
    left: 0;
    right: 0;
    min-height: 200px;
    background-color: #fff;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
} 
    .compare-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 40px;
} 

    .com_left-side h2.com_heading {
    font-size: 48px;
    line-height: 60px;
    text-transform: initial;
    letter-spacing: 0;
    max-width: 404px;
    width: 100%;
    margin: auto auto 15px;
    text-align: center;
    color: #2e2a39;
    font-weight: 700;
} 
/*     .table_content {
    width: 50%;
}   */
/* .pro_compare .com_left-side_box {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}
.pro_compare .com_left-side{
  width:100%;
} */
.forchicsimage.table_right_content img{
 margin: 0 auto;
}
    .top_table_content {
    width: 100%;
}  
    .compare-box .com_right-side {
    width: 100%;
    padding-left: 20px;
}  
    .com_right-side table {
    margin-bottom: 0; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 19px 18px 11px #e3e8ec73;
    overflow: hidden;
}  
    .pro_compare .compare-box tr.tablelooprow {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(246,246,244,.44);
    border-radius: 3px 0 0;
}  
    .pro_compare td.tabletile {
    background-color: #ccbdff;
}  
    .sale_compare_section .tablelooprow td.forchics {
    background: #fff; 
      color: #000;
    text-align: center;
} 
    .pro_compare td.forchics {
    width: 25%;
} 
    .sale_compare_section .compare-box td.forchics img {
    width: 20px;
    height: 20px;
    object-fit: cover; 
    margin: 0 auto; 
}                                                                                      
    .compare-box .tablelooprow td {
    border: none;
}  
    .sale_compare_section td.tabletile.other_content {
    background-color: #fff;
    width: 25%;
} 
    .pro_compare td.tabletile {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 10px;
    color: #fff;
    font-weight: 600;
}  
    .compare-box .tablelooprow td {
    border: none;
}  
    .sale_compare_section td.tabletile.other_content img {
    width: 20px;
    height: 20px;
    object-fit: cover; 
    margin: 0 auto;
}  
  .pro_compare .compare-box tr.tablelooprow {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(246,246,244,.44);
    border-radius: 3px 0 0;
}  
    .top_table_content th.left_top_content {
    width: 50%;
} 
    .top_table_content th.forchics.tabletile.border-leftradius.border-rightradius.right_content {
    width: 25%!important;
}  
    .pro_compare .forchicsimage {
    margin-top: 0;
} 

    .pro_compare .forchicsimage {
    margin-top: 0;
}  
    .sale_compare_section .compare-box th p {
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}  
    .sale_compare_section table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
}  
    .top_table_content {
    width: 100%;
} 
  table {
      width: 100%;
      border-collapse: collapse;
   } 
    .compare_section td, th {
    border: none;
}  
    .questions {
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
} 
    .questions__title h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}  
    .questions__item_row {
    margin-bottom: 10px;
}  
    .questions__item_row h4.ques-heading {
    font-size: 20px;
    padding: 25px 20px;
    margin: 0;
    color: #000;
    cursor: pointer;
    position: relative;
}                                                                       
    .questions__item_row h4.ques-heading:before {
    content: "";
    width: 17px;
    height: 3px;
    position: absolute;
    right: 20px;
    top: 36px;
    background-color: #000;
} 
    .questions__item_row h4.ques-heading:after {
    content: "";
    width: 3px;
    height: 17px;
    position: absolute;
    right: 27px;
    top: 29px;
    background-color: #000;
}  
    .ques-desc {
    padding: 0 20px 20px;
    background-color: #fff;
} 
    .ques-desc p {
    color: #000;
    font-size: 16px;
} 
   .questions__item_row h4.ques-heading.active:after{
  display:none;
} 
    .ques-desc {
  display: none;
} 
    .qty_swatch legend.form__label {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px !important;
    position: relative;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
} 
    .qty_swatch legend.form__label:before {
    content: "";
    position: absolute;
    background-color: #ccbdff;
    height: 2px;
    width: 29%;
    left: 0;
    top: 43%;
}  
    .qty_swatch legend.form__label:after {
    content: "";
    position: absolute;
    background-color: #ccbdff;
    height: 2px;
    width: 29%;
    right: 0;
    top: 43%;
} 
    fieldset.product-form__input .form__label {
    margin-bottom: 0.2rem;
    width: 100%;
    display: block;
}  
   .qty_swatch label {
   width: 100%;
    font-size: 16px!important;
    text-transform: inherit;
    margin-bottom: 10px !important;
    display: flex !important;
    padding: 15px 60px !important;
     position: relative;
     border: 2px solid #ccbdff;
    border-radius: 10px;
     cursor: pointer;
} 
  .qty_swatch .sn_ys {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;   
} 
    .qty_swatch .prie_grp {
    width: 30%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}  
   .qty_swatch span.var_price {
    width: 100%;
     color: #7069bc;
    font-size: 18px;
     font-weight: 700;
     
}  
  .qty_swatch span.var_prce {
    width: 100%;
}  
    .qty_swatch label:before {
    content: "" !important;
    position: absolute !important;
    width: 20px;
    height: 20px;
    border: 1px solid #7069bc;
    border-radius: 50px !important;
    left: 20px !important;
    top: 25px !important; 
    z-index: 1 !important;   
} 
    .qty_swatch input:checked+label:before {
    background: #7069bc !important;
    border: 2px solid #fff !important;
} 
    .qty_swatch label:hover {
    background-color: #ccbdff;
    border: 2px solid #7069bc !important;
      border-radius: 10px !important;
}  

    .qty_swatch input:checked+label {
    width: 100%; 
    color: #000; 
    border: 2px solid #7069bc;
    border-radius: 10px;
    background-color: #e9e2ff;
}  
    .product-form__input {
     max-width: 100% !important;
    
} 
    .qty_swatch span.swatch_title {
      color: #4d4d4d;
    font-size: 20px; 
    font-weight: 700; 
    } 
    .template-product .qty_swatch .swtch_you_save {
    font-weight: 400;
    color: #4d4d4d;
    font-size: 16px;
} 
    .template-product .prie_grp span {
    width: 100%;
    color: #7069bc;
    font-size: 18px;
} 
    .qty_swatch .var_prce .var_com_price {
    color: #4d4d4d;
}  
   .product__info-wrapper.grid__item .product__info-container .product__description.rte {
    margin-top: 10px;
    margin-bottom: 20px;
}  
    .product__info-wrapper.grid__item .product__info-container h1.product__title {
    margin-bottom: 10px;  
    margin-top: 10px;  
}      
   .product__info-container .product-form.product-form {  
    margin-top: 0px;  
    margin-bottom: 30px;                                                      
}                                                                                                                             
.product__info-wrapper.grid__item .product-form .product-form__buttons button.product-form__submit.button.button--full-width.button--primary {
    min-height: 65px;  
    background-color: #7069bc;  
    font-weight: bold;  
    text-transform: capitalize;  
    font-size: 20px; 
}                                                                                                                                                                                                                                                                                    
 .review_main.review_main_slider button.slick-prev.slick-arrow{
     left: 0; 
}  
 .review_main.review_main_slider button.slick-next.slick-arrow{
    right: 0;  
 }  
.section-multicolumn-padding .title-wrapper-with-link.title-wrapper--self-padded-mobile {
 justify-content: center;    
}  
/*  .sticky_cart.mbl_cart {
    display: none;  
  }  */
.header_section {
    background-color: #fff;
} 
.multicolumn_section {
padding: 30px 0px;   
}  
.collection_section{
    background-color: #fff; 
  }  
.color-background_white {
  background: #fff;
}
.color-background_light_gray{
  background: #fafafa;
}

.qty_swatch span.hide.free-ship-text{
	display:none;
}
.swtch_you_save {
    width: 100%;
}
span.popular_text {
/*     margin-left: 10px;
    font-size: 10px;
    color: #ccbdff;
    border: 1px solid #ccbdff;
    font-weight: 700;
    padding: 5px 9px;
    border-radius: 10px;
    display: flex;
    align-items: center; */
  position: absolute;
    right: -30px;
    top: -8px;
}
span.popular_text svg{
  width: 90px;
}
.qty_swatch span.free-ship-text{   
/*     position: absolute;        */
    font-size: 10px;   
	color: #ccbdff;
    border : 1px solid #ccbdff;
    font-weight: 700;
    padding: 5px 9px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}                                                                                                                                                                                                                                                                                                                       
.qty_swatch label:hover span.free-ship-text, .qty_swatch input:checked+label span.free-ship-text{
  color: #7069bc;
  border : 1px solid #7069bc;
  background-color: #fff;
}   
#stamped-main-widget{
	margin:0 !important;
	background-color: #fff; 
    padding-top: 40px; 
}  
.multicolumn-list__item.center .media--adapt img{
  max-width: 100%;  
}                                                                                                                                                                       

.slider.slider--mobile .slider__slide {
/*     padding-left: 1.5rem; */
/*     padding-right: 1.5rem; */
}
/* .slider.slider--mobile .slider__slide {
    padding-left: 0;
}  */
.multicolumn_section .title-wrapper-with-link {
  justify-content: center;   
}    
                                                                                                  
@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #7069bc;
  --secondary: #e3d2fd;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}                                                       

[role="progressbar"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]:after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;  
  color: var(--primary);
}  

.main-product .above-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
} 
.main-product .above-icon img {
    max-width: 100px;
    width: 100%;
} 
.multicolumn_section .multicolumn-card.content-container {
    background-color: transparent !important;
}  
 .top_table_content th.forchics.tabletile.border-leftradius.border-rightradius.right_content {
    padding: 0px;
}     
 .gradient-fixed {
    background: #fff;
}  
/*  .qty_swatch label:hover .free-ship-text{
    background-color: #fff;
 }  */
    /****** 02/03/2022 *******/ 
  .cart-notification {
    background-color: #fafafa; 
}   
  .tracking_back {
    background-color: #fafafa; 
      padding: 50px 0px;
}  
   .tracking_back h1 {
    font-size: 26px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 0px;
    text-align: center;
}  
 .tracking_back p.tracking_texts {
    text-align: center;
    font-size: 15px;
    color: #000;
}  
  .tracking_back p.tracking_texts a {
    color: #ccbdff;
} 
 .tracking_back .track_form {
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 2px 17px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 17px #0000001f;
    padding: 76px 20px;
    margin-top: 30px;  
    margin-bottom: 20px;  
    border-radius: 20px;
}                                                                                                                  
  .track_inner {
    display: flex;
    justify-content: center;
}  
 .track_form input[type=text] {
    font-size: 12px;
    line-height: 19px;
    padding: 14px 8px 16px;
    width: 54%;
    border-radius: 0;
    margin: 0;  
    outline: none;
    box-shadow: none;  
    border: 1px solid #cccccc;  
}                                                                                                                                                                                                 
 .track_form input[type=button] {
    font-size: 15px;
    font-weight: 400;
    width: auto;
    height: auto;
    line-height: inherit;
    padding: 0 36px;
    border-radius: 0; 
    background: #ccbdff;
    color: #ffffff;
    border: 1px solid #cccccc;   
}  
 .faq-track-box {
    background-color: #fff;
}  
 .faq-img-text-box {
    background-color: #fff;
}  
 .fq_banner_outer .tracking_back {
    background-color: #2E2939; 
    margin-bottom: 30px;  
    border-radius: 20px;
  
}                                                  
  .fq_banner_outer .tracking_back h1 {
    font-size: 26px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 0;
    text-align: center;
    color: #fff;
}  
 .fq_banner_outer p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}  
  .fq_banner_outer .faq_s {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}  
  .faq_s .left_area, .faq_s .track_form {
    width: 50%;
}  
 .fq_banner_outer #scroll_too {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    box-shadow: #36363626 0 2px 10px;
    z-index: 1;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%) translateY(-30%);
}  
 .faq-section .down_arrow {
    background: #fff;
    position: absolute;
    top: 54%;
    left: 56%;
    transform: translate(-50%,-50%);
}   
 .faq-section .fq_banner_outer { 
    position: relative;
}  
 .faq-section .tabs-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}  
 .faq-section ul.tabs-nav li {
    padding: 0;
    margin: 0;
    width: 25%;
    text-align: center;
} 
 .desk_sticky_cart.hide {
    display: none !important;
}  
 .white-starsec .fa-star{
 color:#fff !important; 
}  
 .faq-section ul.tabs-nav li.tab-active a {
   border-color: #ccbdff;   
}                                                                                                                      
  .faq-section ul.tabs-nav a {
    border-bottom: 5px solid transparent;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 23px;
    display: block;
    color: #ccbdff;   
    text-decoration: none;    
}                                                                                                                                                                                                                                   
 .faqAccordion h2.title.faq--heading {
    font-style: normal;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #000;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 0.75em;
    padding-top: 30px;
    margin-top: 20px;
} 
 .faqAccordion>dt>button:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50.1%);
    left: 15px;
    font-size: 25px;
    content: "+";
    color: inherit;
}  
 .faqAccordion>dt>button {
    max-width: 100%;
    font-weight: 700 !important;
} 
 .faqAccordion>dt>button {
    background: 0 0;
    position: relative;
    padding: 20px 20px 20px 40px;
    color: #000;
    border-bottom: 1px solid #ccc !important;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: 0;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: 400;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    box-shadow: none;
    border-radius: 0;
    font-size: 18px; 
    border: none; 
} 
 .faqAccordion>.open>button:after {
    content: "-";
    font-size: 30px;
}  
 .faqAccordion>dt>button:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50.1%);
    left: 15px;
    font-size: 25px;
    content: "+";
    color: inherit;
}  
.faq-img-text-box .faq-image-with-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
} 
.faq-img-text-box .faq-image-with-text .featured-link--image, .faq-image-with-text .featured-link--half {
    width: 50%!important;
} 
.image-with-text-section .faqcolumns .info h1 {
    font-size: 26px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .5px;
}  
    .faqcolumns .description {
    margin-bottom: 30px;
}  
.faqcolumns a.action_button {
    background: #ccbdff;
    color: #fff;
    border: 1px solid #ccbdff;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    min-height: 44px;
    height: 40px;
    line-height: 1.2; 
    text-decoration: none;
    border-radius: 11px;
} 
.faq-image-with-text .info {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}  
 a#cart-notification-button {
    display: none;
}  
.faq-img-text-box .faq-img img {
    width: 100%;
    border-radius: 20px;
}  
 .faq-track-box .tabs-stage dl {
    margin-bottom: 0px;
}  
 .faq-img-text-box {
      padding: 20px 0px 40px 0px;
  } 
.fq_banner_outer .tracking_back .track_form input[type=button]{
   background: #ccbdff; 
}  
   .overlay-cart-popup:after {
    content: "";
    position: fixed;
    background-color: #0000008f;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .5;
}   
 .cart-notification-wrapper{
   z-index: 2000;
 } 
.overlay-cart-popup #shopify-section-announcement-bar{
    z-index: 0 !important;
 } 
  .overlay-cart-popup #shopify-section-header {
    z-index: 0 !important;
}                      
    
    
/* 4 mar 2022     */
    
div#cart-notification {
  border-radius: 22px;
  padding: 0;
}
.cart-notification__inner{
/*   padding: 2.5rem 3.5rem; */
  padding: 2.5rem 3.5rem 0 3.5rem;
  background-color:#fafafa;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}    
div#cart-notification .notification-checkout-btn{
  background-color: #7069bc;
}
.cart-notification__satisfaction{
    background-color: #f4f1ff;
    color:#000;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
  	text-align:center;
    margin-top: 10px;
} 
.cart-notification__satisfaction p{
  margin:0;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
 }
span.notification_dis_text {
    font-size: 11px;
}
/* end here     */
    
 div#cart-errors {
    margin: 0;
    padding: 5px 0;
}

pro_compare .com_left-side_box {
    max-width: 750px;
    width: 100%;
    margin: auto;
}  
 .pro_compare  .com_left-side {
    width: 50%;
}  
 .pro_compare  .table_right_content {  
    width: 50%;                                      
}  
    .pro_compare .table_content {
    width: 50%;
}  
    .multicolumn .title-wrapper-with-link {
    justify-content: center;
}  
 .main-blog h1.title--primary {
    margin: 0;
    padding: 32px 0px 32px 0px;
}  
   .article-template .article-template__back {
    margin-bottom: 0 !important;
    padding-bottom: 20px;
}  
 .section-main-product-padding {
    padding-top: 10px !important;     
}  
  .product__info-container .product-form__buttons .product-form__submit span:before {
    content: "";
    background: url(sl-finger.png) center center no-repeat;
    width: 26px;
    height: 24px;
    display: inline-block;
    background-size: 25px;
    margin-bottom: -8px;
    margin-right: 5px;
    position: relative;
    top: -3px;                             
  }  
   .product .right_corn_img {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;  
}                                                                                                                   
   .product .right_corn_img img {
    width: 80px;                                                                                                               
  }  
  .htr_iwt_sec .htr_iwt_item {   
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    border-radius: 40px;
    overflow: hidden;   
    background-color: #fff;    
    margin: 40px 0px;                                                                  
}                                                                                                                                                                                                                                                                                                                                                                                                                                          
 .htr_iwt_sec .htr_iwt_item .image-with-text__image {
    width: 50%;
}  
 .htr_iwt_sec .htr_iwt_item .image-with-text__text {  
    width: 50%;  
    padding: 80px;  
/*     background-color: #fff;     */
}                                                                                                                                                                           
.htr_iwt_sec .htr_iwt_item ul {
    padding-left: 16px;  
} 
 .htr_iwt_sec .htr_iwt_item .image-with-text__image img{
     height:100%;
 }
.htr_iwt_sec .htr_iwt_item .image-with-text__text h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0px;  
} 
.htr_iwt_sec .htr_iwt_item .image-with-text__text li {
    font-size: 16px;  
    margin-top: 10px;  
}  
 .htr_two_images{
  display: flex;
  flex-wrap: wrap;
  width: 100%;   
 }  
 .htr_two_images .htr_two_item {
    width: 50%;   
    position: relative;  
    text-align: center;    
}                                                                  
.htr_two_images .image-with-text__text {
    position: absolute; 
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%); 
    width: 100%; 
}  
.htr_two_images h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;  
} 
  .htr_two_images .image-with-text__text a{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #b3a7e2;
    padding: 12px 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}  
 .htr_two_images .htr_img img {  
    width: 100%;                                                                                                      
}    
 .about_iwt_sec .about_iwt_item {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
/*     margin-top: 20px;   */
    padding: 40px 0;
}  

   .about_iwt_sec .image-with-text__image {
    width: 50%;
}  
   .about_iwt_sec .image-with-text__text {
    width: 50%;  
    padding: 40px;
}  
  .about_iwt_sec .image-with-text__image img {
     border-radius: 40px     
}  
   .about_iwt_sec .about_iwt_item a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 40px; 
    border-radius: 6px;  
}  
  .about_iwt_sec .about_iwt_blocks .image-with-text__text h2 {
    font-size: 38px;
    font-weight: bold;  
}  
  .about_iwt_sec .about_iwt_blocks .image-with-text__text p{
    font-size:18px;  
  }
  .our_iwt_sec .our_iwt_item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
}     
 .our_iwt_sec .image-with-text__image {
    width: 50%;
}  
 .our_iwt_sec .image-with-text__text {
    width: 50%; 
    padding: 40px;  
} 
 .our_iwt_sec .our_iwt_item a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 40px;
    border-radius: 6px;
} 
 .our_iwt_sec .our_iwt_item img { 
    border-radius: 40px;                        
}  
 .our_iwt_sec h2 {
    font-size: 36px; 
    font-weight: bold; 
} 
 .our-eraser-page-template .pro_tab_section .container {
    max-width: 1300px;
    margin: 0 auto;
}  
 .our_iwt_slid_sec {  
    padding-top: 40px;  
    padding-bottom: 40px;     
    background-color: #f8f7f3;                                            
}                                                                                                            
 .our_iwt_slid_sec .image-with-text__image img {
    border-radius: 40px; 
   width: 100%;
} 
 .our_iwt_slid_sec .image-with-text__text h2 {
    font-size: 36px; 
    font-weight: 700; 
    margin: 10px 0px 0px 0px;   
}                                                                                                                 
 .our_iwt_slid_sec ul.slick-dots {
    position: absolute;
    right: 0;
    bottom: 130px;
    width: auto;  
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0px 25%;                   
}                                                                                                                                                                                                                                                                                                                                                    
 .our_iwt_slid_sec .slick-dots li button:before {
    font-size: 40px;  
}  
 .our_iwt_slideitem.slick-current .image-with-text__text{
  display:block;
}
.our_iwt_slideitem .image-with-text__text{
  display:none;
} 
 .our_iwt_slid_sec .image-with-text__text {
    max-width: 550px; 
    position: relative;
} 
.our_iwt_slid_sec .slick-dots li.slick-active button:before {
    font-size: 40px;
    border: 1px solid #000;
    color: #bbbab7;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;    
     
} 
.our_iwt_slid_sec .image-with-text__image {
    padding: 0px 20px;   
} 
 .our-bg-img-sec h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0px;   
}  
.our-bg-img-sec .test {
    text-align: center; 
    padding: 10px 10px 30px 10px;   
}                                                                                                                 
.our-bg-img-sec .test p {  
    margin: 0;                                                 
}   
 .our_iwt_blocks { 
    margin-bottom: 40px;  
} 

 .htr_two_images .htr_img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
/*     z-index: 1;   */
}  
    .htr_iwt_sec {
    background-color: #ccbdff;
}  
  .htr_iwt_sec .htr_iwt_blocks {
    padding: 20px 0px;
}                                                                        
  
@media only screen and (max-width: 991px){
   .eating_health .medium-up--one-quarter:nth-of-type(1) {
    width: 50%;
    order: 2;
} 
    .eating_health .medium-up--two-quarters:nth-of-type(2) {
    width: 100%;
    order: 1; 
    max-width: 100%; 
} 
    .eating_health .medium-up--one-quarter:nth-of-type(3) {
    width: 50%;
    order: 3;
}  
    .eating_col {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  } 
    .eating_icon {
    margin-bottom: 10px;
  } 
    .eating_content {
    padding-left: 0;
    width: 100%;
} 
    .eating_center {
    width: 300px!important;
    height: 300px!important; 
    margin: 0 auto;
      }  
  .our_iwt_slid_sec .image-with-text__text {
    max-width: 100%;
    }                                                    
   }
    
@media only screen and (max-width: 767px) {   
    .eating_health {
    padding-top: 30px;
    padding-bottom: 0;
     } 
    .eating_header h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    } 
    .eating_header p {
    font-size: 17px;
    line-height: 1.5;
     } 
  .pro_tab_section .tab_nav {
    position: absolute;
    bottom: -90px !important;
    left: 0;
    margin: 0;
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 12px;
    display: flex;
    top: inherit;
    z-index: 2;
    right: 0;
     } 
  .pro_tab_section h3 {
    font-size: 30px; 
    margin-top: 0px;       
     }   
  .questions__title h3 {
    font-size: 36px;
  } 
  .compare-box .com_left-side {
    width: 100%;  
    padding-bottom: 10px; 
 }
  .sale_compare_section .com_left-side h2.com_heading, .sale_compare_section .compare-box .com_text p {
    color: #2e2a39;
  } 
  .table_content {
    width: 100%;
} 
  .compare-box .com_right-side {
    padding-left: 0; 
    width: 100%;
} 
  .table_content {
    width: 100%;
}  
  
  .customer-result_section {
    padding: 30px 0;
}  
  .customer-review_section {
   padding: 60px 0px 30px 0px;
}                                        
  .product_custmer_review h2.section-title.review_heading, .customer-result_section .result_sec h2 {
    font-size: 36px;
    line-height: 41px;
}  
  .product_custmer_review .review_columna {
    padding: 0 15px;
    width: 100%;
} 
  .pro_vid_img_sec {
    padding: 30px 0;   
    margin-top: 0px;   
}                                                                                                                    
  .pro_vid_img_row .vid_img_box {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
}  
  .vid_img_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  
  .pro_vid_img_row .text_box {
    width: 100%;
    padding: 20px 10px;
    margin: 0;
} 
  .pro_vid_img_row .text_box h3 {
    font-size: 36px;
    line-height: 41px;  
}                                                      
  .com_left-side h2.com_heading {
    font-size: 36px;
    line-height: 41px;
}  
  .product_custmer_review .givcont {
    font-size: 15px;
   } 
  .eating_health .grid {
    align-items: center;
   }  
  .section-multicolumn-padding .multicolumn-list__item.grid__item:last-child {
   margin: 0 auto;
}  
.section-multicolumn-padding .multicolumn-list__item.grid__item {
   width: 50%;
   max-width: 50%;  
  } 
  .sticky_cart.mbl_cart {
    display: block; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #f8f8f8;  
    background-color: #fff; 
  }  
  .mobile_add_cart {
    display: flex;    
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;                                  
  } 
  .desk_sticky_cart {
    display: none;
  }  
  .sticky_cart.mbl_cart .guarantee_content {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
    color: #000;
    padding: 0 0 0 10px;
    width: 60%;   
  }  
  .sticky_cart.mbl_cart .btn_main {
    display: flex;
    align-items: center;
    width: 40%;
  } 
  .sticky_cart.mbl_cart button.sticky_addtocart {
    min-height: 44px;
    height: inherit; 
    position: relative;
    max-width: 100%;
    min-height: 44px;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #7069bc;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
  } 
  
  .sticky_cart.mbl_cart button.sticky_addtocart span {
    padding-left: 5px;
   }  
   .product_img_text .page-width.image-with-text__grid {
    padding: 0px 24px;
  }  
  .collection  li {
    padding: 0px 10px;
   }  
  .pro_tab_section .tab_nav li {
    padding: 6px 12px;
   }  
  .main-product .above-icon img {
    max-width: 80px;
  }  
  .main-product .above-icon {
    right: 40px;
   }  
  .multicolumn-card__info {
   padding: 10px 5px !important;  
  }  

  .stamped-main-widget .stamped-container {
    padding: 0px 20px !important;
   }   
  .stamped_widget_product {
    padding: 0px 20px;
    background-color: #fff;
   }  
  .pro_tab_section .tabcontent:after {
    content: "";
    padding-top: 100%;
    object-fit: cover;
    width: 100%;
    display: block;
   }     
   .pro_tab_section .tabcontent video {
    width: 100%;
    border-radius: 25px;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    left: 0;
    right: 0;
    height: 100%; 
    }  
  .faq_s .left_area, .faq_s .track_form {
    width: 100%;
    }  
  .faq-img-text-box .faq-image-with-text .featured-link--image, .faq-image-with-text .featured-link--half {
    width: 100%!important;
    margin-bottom: 20px;
    } 
  .faq-section ul.tabs-nav a {
    font-size: 16px;
    }  
   div#cart-notification {
    padding: 0px 20px;
    background-color: transparent;    
   } 
  .cart-notification_both{
  	background-color: #fafafa;  
    border-radius:22px;
   }
  .cart__checkout-button{
    background-color: #7069bc;  
   } 
  .qty_swatch span.popular_text {
    right: -14px;
 } 
  .qty_swatch span.popular_text svg {
    width: 80px;
}   
 .footer.sale_footer .footer_sale_top {
    padding-bottom: 10px;
}  
 .footer.sale_footer .footer_copyright_section{
    padding-bottom: 10px;
 }  
  .footer.sale_footer .footer_sale_btm {
    padding-bottom: 10px;                                     
  }  
  .pro_compare .com_left-side, .pro_compare .table_right_content {
    width: 100%;
      }  
  .pro_compare .com_left-side, .pro_compare .table_right_content, .pro_compare .table_content {
    width: 100%;
   }  
  .footer.sale_footer {
    padding-bottom: 30px;
      }     
  .article-template__content iframe{
      width: 100%;     
       }  
  .htr_iwt_sec .htr_iwt_item .image-with-text__image {
    width: 100%;
   }  
  .htr_iwt_sec .htr_iwt_item .image-with-text__text{
   width: 100%;
   padding: 20px;   
    }  
  .htr_two_images .htr_two_item {
    width: 100%; 
    padding: 20px;
   }  
  .about_iwt_sec .image-with-text__image {
    width: 100%;
   }  
  .about_iwt_sec .image-with-text__text {
    width: 100%; 
    padding: 20px; 
  }
  .about_iwt_sec .about_iwt_blocks .image-with-text__text h2 {
    font-size: 24px;
    }  
  .htr_two_images h2 {
    font-size: 24px;
  }  
  .product_cntent_section {
   padding: 0px 20px;
  }  
  .our_iwt_sec .image-with-text__image {
    width: 100%;   
   }  
  .our_iwt_sec .image-with-text__text {
    width: 100%;
    padding: 0;
   }  
  .our_iwt_slid_sec ul.slick-dots{
    position: absolute;
    right: inherit;
    bottom: -28px;
    left: 0; 
   }
   .our_iwt_slid_sec .image-with-text__text h2 {
    font-size: 24px;
   }  
  .htr_two_images .image-with-text__text {
    width: 100%;   
   }  
  .htr_iwt_sec .htr_iwt_item .image-with-text__image img {
    height: inherit;
    }  
  .htr_two_images .htr_two_item{
    padding: 0px;
  
   }
                                                               
     }                                     
 @media only screen and (max-width: 576px) { 
   .our_iwt_slid_sec ul.slick-dots {
    margin: 0px 10%; 
  }   
     }
   
  @media only screen and (max-width: 480px) {  
    .qty_swatch span.free-ship-text {
    font-size: 10px;
    padding: 5px 5px;
    margin-left: 5px;
    } 
    div#cart-notification {
    top:50px;
    }
  }    
 .drawer__title span.cartCount {
    margin-left: 5px;
}   
                                                                                                
    
   
     
    

        

</style>